body{
	font-family: 'Roboto', sans-serif;
	background-image: url("style/background2.jpg");
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: top center; 
}

form{background-color: #f2f2f2;
	font-family: 'Oswald', sans-serif;
	padding: 10px 10px 10px 10px;
	border-radius: 25px;
	margin-right: 5px;
	width: 1000px;
	text-align: left;
	display:inline-block;
	}

div#tete{
	font-family: 'Gugi', cursive;
	margin-top: 40px;
	margin-left:25px;
	margin-bottom: 40px;
	background-color: #3399ff;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 1px;
	border-radius: 25px;
	width: 1050px;
	height: 234px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	text-align: center;
}


.form-check-label{
	padding-right: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}